Package: com.easy-z.byesep
Name: ByeSep
Depends: mobilesubstrate, com.kaneb.kbapplist
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Easy-Z
Author: Easy-Z
Section: Tweaks
