<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MAIN</string>
		</dict>
		
		    <dict>
       <key>key</key>
       <string>BSSelectedApp</string> <!-- your unique prefs key, for retrieving selected apps in your tweak -->
       <key>defaults</key>
       <string>com.easy-z.byesep</string> <!-- The pref's bundleID -->
       <key>default</key>
       <string></string> <!-- This will default to all apps being unselected -->
       <key>appList</key>
       <string>allApps</string> <!-- Choose which apps should be displayed for selection -->
       <key>label</key>
       <string>Selected Apps</string> <!-- What the tab will be called in the settings app -->
       <key>postNotification</key> <!-- This is if you want to use system notifications for real time preference changes -->
       <string>com.eazy-z.byesep-prefsreload</string>
       <key>cell</key>
       <string>PSLinkCell</string>
       <key>detail</key>
       <string>ALViewController</string>
       <key>icon</key>
       <string>icon.png</string>
       <key>isController</key>
       <true/>
     </dict>

     		<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Respring</string>
				<key>action</key>
				<string>respring</string>
			</dict>

	</array>
	<key>title</key>
	<string>Bye Sep</string>
</dict>
</plist>
